<!DOCTYPE html>
<html>
<head>
  <title>Light Bulb</title>
  
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster+Two', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

<!--    .jumbotron{-->
<!--background-image:url(http://celestinopasadena.com/wp-content/themes/cleancorp/images/background.jpg);-->
<!--background-repeat:no-repeat;-->
<!--background-position:center;-->
<!--background-size: cover;-->
<!--padding:200px 0 140px 0;-->
<!--margin-bottom:70px;-->
<!--}-->

</head>
<body>
<div class="navbar transparent navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="/">Light Bulb</a>-->
      <%= link_to root_path, class: 'navbar-brand nav-font' do %>
        <i class="fa fa-lightbulb-o" id="fa-size"></i>
        Light Bulb
      <% end %>
    </div>  
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right nav-font">
        <li><%= link_to "About", about_path %></li>
      </ul>
    </div>
  </div>
</nav>  

<div class="container">
  <%= yield %>
</div>

</body>
</html>
